crewai
crewai-tools
langchain
langchain-core==1.2.5
langchain-community==0.4.1
langchain-ollama
yfinance
streamlit
pandas==2.3.3
plotly
scipy
numpy==2.3.4
textblob
ta
praw
torch
transformers
pyyaml==6.0.3
unstructured
python-dotenv==1.2.1